# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
env/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

#files
mydb.py
ai_blog_app/settings.py

# VS Code
.vscode/

# Mac/Windows
.DS_Store
Thumbs.db